.main {
  display: flex;
  width: 100%;
}

.article {
 width: 30%;
}

.info {
 width: 70%;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 padding-top: 60px;
}

.text {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Cardo', serif;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.recipe {
  padding-left: 60px;

}
.recipe img {
  border-radius: 3px;
}

.forest img {
  border-radius: 3px;
}
.forest {
   padding-right: 60px;
}

.recipe h2 {
    color: #342C15;
}

.forest h2 {
    color: #342C15;
}
